<%= simple_form_for(@personalization, url: main_app.url_for(nested_resource + [@personalization]),  html: { class: '' }) do |f| %>
  <fieldset>
    <legend>Personalização</legend>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :picture, as: :image_preview, input_html: {preview_version: :small_thumb} %>

      </div>
      <div class="col-md-12">
        <%= f.button :submit %>
      </div>
    </div>
  </fieldset>

  <% if @personalization.persisted? %>
    <fieldset>
      <legend>
        Layouts
      </legend>

      <% if @personalization.layouts.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Previsualização</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @personalization.layouts.each do |layout| %>
            <tr>
              <td><%= layout.name %></td>
              <td>
                <div class="layout-preview">
                  <%= image_tag @personalization.picture.url(:thumb) %>
                  <% layout.area_editions.each do |a| %>
                    <div class="area area-<%= a.area_type %>" style="left: <%= a.x1 / 5.to_f %>%; top: <%= a.y1 / 5.to_f %>%; right: <%= (500 - a.x2) / 5.to_f %>%; bottom: <%= (500 - a.y2) / 5.to_f %>%;">
                      <div class="t">
                        <div class="tc">
                          <%= a.area_type %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </td>
              <td>
                <%= link_to 'Show', show_url(layout) %>
                <%= link_to 'Edit', edit_url(layout) %>
                <%= link_to 'Destroy', destroy_url(layout), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <tr>
          Sem layouts
        </tr>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= link_to new_url(:layout), class: 'btn btn-primary' do %>
            <i class="icon icon-plus"></i>
            Novo Layout
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>
