<p id="notice"><%= notice %></p>

<h1>Listing Personalizations</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @personalizations.each do |personalization| %>
      <tr>
        <td><%= personalization.name %></td>
        <td><%= image_tag personalization.picture.url(:thumb) %></td>
        <td><%= link_to 'Show', main_app.url_for([@product, @theme, personalization]), class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', main_app.url_for([:edit, @product, @theme, personalization]), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', main_app.url_for([@product, @theme, personalization]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to main_app.url_for([:new, @product, @theme, :personalization]), class: 'btn btn-primary' do %>
  <i class="icon icon-plus"></i>
  Nova personalização
<% end %>
