<%= simple_form_for(@theme, url: main_app.url_for([@product, @theme]),  html: { class: '' }) do |f| %>
  <fieldset>
    <legend>Tema</legend>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :default, hint: Spree.t('personalizations.themes.default.hint') %>
      </div>
      <div class="col-md-6">
        <%= f.input :picture , as: :image_preview, input_html: {preview_version: :small_thumb} %>
      </div>
      <div class="col-md-12">
        <%= f.button :submit %>
      </div>
    </div>
  </fieldset>

  <% if @theme.persisted? %>
    <fieldset>
      <legend>
        Personalizações
      </legend>

      <% if @theme.personalizations.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Picture</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @theme.personalizations.each do |personalization| %>
            <tr>
              <td><%= personalization.name %></td>
              <td>
                <%= image_tag personalization.picture.url(:small_thumb) %>
              </td>
              <td>
                <%= link_to 'Show', show_link(personalization) %>
                <%= link_to 'Edit', edit_link(personalization) %>
                <%= link_to 'Destroy', show_link(personalization), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>
          Sem personalizações
        </p>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= link_to new_link(:personalization), class: 'btn btn-primary' do %>
            <i class="icon icon-plus"></i>
            Nova personalização
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>
