<%= simple_form_for(@theme, url: main_app.url_for([@product, @theme]),  html: { class: '' }) do |f| %>
  <fieldset>
    <legend>Tema</legend>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :default, hint: Spree.t('personalizations.themes.default.hint') %>
      </div>
      <div class="col-md-6">
        <%= f.input :picture %>
      </div>
      <div class="col-md-12">
        <%= f.button :submit %>
      </div>
    </div>
  </fieldset>

  <% if @theme.persisted? %>
    <fieldset>
      <legend>
        Personalizações
      </legend>

      <div class="row">
        <ul class="col-md-12">
          <% if @theme.personalizations.any? %>
            <% @theme.personalizations.each do |personalization| %>
              <li>
                <%= link_to personalization.name, main_app.url_for([:edit, @product, @theme, personalization]) %>
              </li>
            <% end %>
          <% else %>
            Sem personalizações
          <% end %>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to main_app.url_for([:new, @product, @theme, :personalization]), class: 'btn btn-primary' do %>
            <i class="icon icon-plus"></i>
            Nova personalização
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>
