<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :personalization } %>
<!--

<img src="http://placehold.it/500x500" alt="" id="photo">

<script>
  $(document).ready(function () {
    $('#photo').imgAreaSelect({ aspectRatio: "1:1", handles: true });
  });
</script>

Plugin http://odyniec.net/projects/imgareaselect/
 -->
<%# content_for :page_actions do %>
  <%#= button_link_to(Spree.t(:new_image), spree.new_admin_product_image_url(@product), { class: "btn-success", icon: 'add', id: 'new_image_link' }) if can? :create, Spree::Image %>
<%# end %>



<p id="notice"><%= notice %></p>

<h1>Listing Themes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.name %></td>
        <td><%= image_tag theme.picture.url(:small_thumb) %></td>
        <td><%= theme.default %></td>
        <td>
          <%= link_to 'Show', show_url(theme) %>
          <%= link_to 'Edit', edit_url(theme) %>
          <%= link_to 'Destroy', destroy_url(theme), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme', new_url(:theme) %>
