<%= simple_form_for(@layout, url: main_app.url_for([@product, @theme, @personalization, @layout]),  html: { class: '' }) do |f| %>
  <fieldset>
    <legend>Layout</legend>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-12">
        <%= f.button :submit %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Areas de Edição
    </legend>

    <%= f.simple_fields_for :area_editions do |a| %>
      <div class="col-md-6">
        <%= a.input :name %>
        <%= a.input :required %>
        <%= a.input :order %>
        <%= a.select :area_type, [["Image", "image"], ["Text", "text"]] %>
      </div>
    <% end %>
  </fieldset>


<% end %>
