<p id="notice"><%= notice %></p>

<h1>Listing Layouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @layouts.each do |layout| %>
      <tr>
        <td><%= layout.name %></td>
        <td><%= link_to 'Show', main_app.url_for([@product, @theme, @personalization, layout]) %></td>
        <td><%= link_to 'Edit', main_app.url_for([:edit, @product, @theme, @personalization, layout]) %></td>
        <td><%= link_to 'Destroy', main_app.url_for([@product, @theme, @personalization, layout]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layout', main_app.url_for([:new, @product, @theme, @personalization, :layout]) %>
